.text-center {
    text-align: center;
}
.dice-warp {
    display: flex;
    justify-content: center;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 1px solid #ccc;
    height: 300px;
}
.dice-score-board{
    width: 50%;
    text-align: center;
    flex-direction: column;
    display: flex;

}
.dice-right-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.score  {
    font-size: 100px;
}
.dice-result  {
    height: 50%;
    font-size: 20px;
}
.dice-desc button {
    font-size: 30px;
}